---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      sonarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16@sha256:3597fd572f4599c67abbeb8afd3cb85bce8a9e389f0779b7ea1273781544d15c
            env:
              SONARR__APP__INSTANCENAME: Sonarr
              SONARR__APP__THEME: dark
              SONARR__AUTH__METHOD: External
              SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
              SONARR__POSTGRES__HOST: local-database-rw.database.svc.cluster.local
              SONARR__POSTGRES__PORT: 5432
              SONARR__POSTGRES__MAINDB: sonarr-main
              SONARR__POSTGRES__LOGDB: sonarr-log
              SONARR__POSTGRES__USER: generalApps
              SONARR__LOG__ANALYTICSENABLED: false
              SONARR__LOG__LEVEL: info
              SONARR__SERVER__PORT: &port 80
              TZ: ${SECRET_TZ}
            envFrom:
              - secretRef:
                  name: sonarr-secrets
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: sonarr
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: "sonarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: sonarr-tls
            hosts:
              - sonarr.${SECRET_DOMAIN}
    persistence:
      config:
        type: emptyDir
      media:
        type: nfs
        server: 192.168.31.21
        path: /mnt/MainPool/Media/TV
        globalMounts:
          - path: /media
      downloads:
        type: nfs
        server: 192.168.31.21
        path: /mnt/MainPool/Downloads/Torrents
        globalMounts:
          - path: /downloads
      tmp:
        type: emptyDir