apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mqtt-lock-secrets
spec:
  refreshInterval: 300s
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore

  # So that I can edit the resulting secret
  target:

    template:

      # Use inline templates to construct your desired config file that contains your secret
      data:
        MQTT_PASSWORD: '{{ .password }}'
        AUTH_BEARER_TOKEN: '{{ .token }}'

  data:
  - secretKey: password
    remoteRef:
      key: "4fb77b70-e79f-4935-9492-b3460151e4b5"
  - secretKey: token
    remoteRef:
      key: "79b72970-6d1a-4d25-b6b1-b3c8010239b8"