deployment:
  # -- Enable deployment
  enabled: true
  # -- Deployment or DaemonSet
  kind: DaemonSet

service:
  enabled: true
  ## -- Single service is using `MixedProtocolLBService` feature gate.
  ## -- When set to false, it will create two Service, one for TCP and one for UDP.
  single: false
  externalTrafficPolicy: Local
  type: LoadBalancer
  annotations:
    "lbipam.cilium.io/sharing-key": "traefik-internal"
    "lbipam.cilium.io/ips": "192.168.67.12"
  labels:
    bgp: internal


ports:
  web:
    expose:
      default: true
      exceptional: true
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    expose:
      default: true
      exceptional: true
    http3:
      enabled: true
      advertisedPort: 443


# -- Create a default IngressClass for Traefik
ingressClass:  # @schema additionalProperties: false
  enabled: true
  isDefaultClass: true
  name: "traefik-internal"

providers:
  kubernetesIngress:
    # -- Load Kubernetes Ingress provider
    enabled: true

    # -- When ingressClass is set, only Ingresses containing an annotation with the same value are processed. Otherwise, Ingresses missing the annotation, having an empty value, or the value traefik are processed.
    ingressClass: "traefik-internal"
    # labelSelector: environment=production,method=traefik
    # -- Array of namespaces to watch. If left empty, Traefik watches all namespaces. . When using `rbac.namespaced`, it will watch helm release namespace and namespaces listed in this array.
    namespaces: []