---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: split-pro
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      split-pro:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/oss-apps/splitpro
              tag: v1.5.8@sha256:79ec9c8959b484c42829d217be51e38341b9ff7165d6d6872123c0ef3b0778b2
            env:
              NEXTAUTH_URL: https://split.${SECRET_DOMAIN}
              DEFAULT_HOMEPAGE: /home
              DISABLE_EMAIL_SIGNUP: false
              ENABLE_SENDING_INVITES: true
              FEEDBACK_EMAIL: split@plutode.com
              OIDC_NAME: authelia
              OIDC_CLIENT_ID: JvnneGoHZNFlJ3U2zRoOz8xhFYkTKAMNAfl-QH3C7YqZSstWPs44Hpr6RR0VrEr2LKqjxVkL
              OIDC_WELL_KNOWN_URL: https://auth.${SECRET_DOMAIN}/.well-known/openid-configuration
              OIDC_ALLOW_DANGEROUS_EMAIL_LINKING: 1
              CURRENCY_RATE_PROVIDER: frankfurter
              TZ: ${SECRET_TZ}
            envFrom:
              - secretRef:
                  name: split-pro-secrets
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 1Gi
    defaultPodOptions:
      hostAliases:
        - ip: "10.21.0.40"
          hostnames:
            - "split.${SECRET_DOMAIN}"
            - "auth.${SECRET_DOMAIN}"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: split-pro
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: "split.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: split-pro-tls
            hosts:
              - split.${SECRET_DOMAIN}
    persistence:
      next-cache:
        type: emptyDir
        advancedMounts:
          split-pro:
            app:
              - path: /app/.next/cache
      node-cache:
        type: emptyDir
        advancedMounts:
          split-pro:
            app:
              - path: /home/node/.cache 
      node-local:
        type: emptyDir
        advancedMounts:
          split-pro:
            app:
              - path: /home/node/.local
      tmp:
        type: emptyDir